.menuLink {
    font-size: 2em;
    padding-left: 1em;
}

.itemLink {
    font-size: 1.3em;
}

.footerLink {
    text-align: center;
}

.tablel-striped {
    font-size: 1.3em;
}

img {
    max-width: 50%;
}
