<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>{{ data.site_title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class='container'>
        {% block header %}
            <a href='/'>
                <img src="{{ data.site_url }}" alt="">
            </a>
            <a href='/generations' class="menuLink">Generations</a>
            <br>
            <br>
        {% endblock %}

        {% block page %}
        {% endblock %}

        {% block footer %}
            <footer>
                <br>
                <br>
                <br>
                <p class="footerLink">
                    <a href="https://github.com/bseaver/PHP-Put-Drive-CMS" target="_blank">Source by Benjamin T. Seaver</a>
                </p>
            </footer>
        {% endblock %}
    </div>
</body>
</html>
